
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* start the sections of common styles */
*{
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
}

.primary-btn{
   padding: 12px 20px 12px 20px;
   background-color: white;
   border: 1px solid rgba(42, 52, 73, 0.642);
   color: rgb(13, 19, 33);
   font-weight: 600;
   border-radius: 3px;
}


.primary-btn:hover{
   background-color: gray;
   color: white;
   border: none;
   cursor: pointer;
}


.secondary-btn{
   border-radius: 5px;
   background: rgb(13, 19, 33);
   color: white;
   padding: 15px 20px 15px 20px;
   border: none;
   margin-bottom: 20px;
}


.secondary-btn:hover{
   background-color: black;
   color: beige;
   cursor: pointer;
}
/* end the section of common styles */


/* Start to styling the nav section */
.nav-container{
   margin-top: 20px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-bottom: 50px;
}

.nav-container>h3{
   color: rgb(13, 19, 33);
   font-size: 20px;
   font-weight: 800;
   line-height: 33px;
   letter-spacing: 0%;
   text-align: left;
}
/* Finish to styling the nav section */



/* start the css code for banner section */
.hero-section{
   background-image: url('/assets/Hero-bg.png');
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 80px;
}


.banner-container{
   margin: 0 auto;
   text-align: center;
   width: 50%;
}


.banner-container>img{
   margin-bottom: 32px;
}


.banner-title{
   margin-bottom: 24px;
}


.banner-description{
  margin-bottom: 32px;
}
/* end the css code for banner section */



/* Start to style of career section */
.career-container{
   width: 75%;
   margin: 0 auto;
   text-align: center;
   border-radius: 16px;
   background: rgba(13, 19, 33, 0.02);
   padding: 40px 97px 40px 97px;
}


.career-title{
   margin-bottom: 25px;
   color: rgb(13, 19, 33);
   font-size: 30px;
}


.career-description{
   margin-bottom: 50px;
   color: rgb(13, 19, 33);
   font-size: 14px;
}


.career-contents{
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 40px;
   background-color: white;
   padding: 20px;
   border-radius: 8px;
}


.career-content{
   width: 50%;
   text-align: left;
}


.career-content-heading{
   color: rgba(13, 19, 33, 0.7);
   font-size: 20px;
   font-weight: 700;
   line-height: 36px;
   letter-spacing: 0%;
   margin-bottom: 20px;
}


.career-content-description{
   color: rgb(13, 19, 33);
   font-size: 14px;
   font-weight: 400;
   line-height: 26px;
   letter-spacing: 0%; 
   margin-bottom: 20px;
}
/* Finish to style of career section */


