
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* start the sections of common styles */
*{
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
}

.primary-btn{
   padding: 12px 20px 12px 20px;
   background-color: white;
   border: 1px solid rgba(42, 52, 73, 0.642);
   color: rgb(13, 19, 33);
   font-weight: 600;
   border-radius: 3px;
}

.primary-btn:hover{
   background-color: gray;
   color: white;
   border: none;
   cursor: pointer;
}

.secondary-btn{
   border-radius: 5px;
   background: rgb(13, 19, 33);
   color: white;
   padding: 15px 20px 15px 20px;
   border: none;
   margin-bottom: 20px;
}

.secondary-btn:hover{
   background-color: black;
   color: beige;
   cursor: pointer;
}

.tersiary-btn{
   border-radius: 8px;
   background: rgb(255, 255, 255);
   padding: 17px 20px 17px 20px;
   color: rgb(13, 19, 33);
   font-size: 20px;
   font-weight: 600;
   line-height: 23px;
   letter-spacing: 0%;
   text-align: center;
   border: none;
}
.tersiary-btn:hover{
   cursor: pointer;
   background-color: azure;
   text-decoration: underline;
}
/* end the section of common styles */


/* Start to styling the nav section */
.nav-container{
   margin-top: 20px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-bottom: 50px;
}

.nav-container>h3{
   color: rgb(13, 19, 33);
   font-size: 20px;
   font-weight: 800;
   line-height: 33px;
   letter-spacing: 0%;
   text-align: left;
}
/* Finish to styling the nav section */



/* start the css code for banner section */
.hero-section{
   background-image: url('../assets/Hero-bg.png');
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 80px;
}

.banner-container{
   margin: 0 auto;
   text-align: center;
   width: 50%;
}

.banner-container>img{
   margin-bottom: 32px;
}

.banner-title{
   margin-bottom: 24px;
}

.banner-description{
  margin-bottom: 32px;
}
/* end the css code for banner section */



/* Start to style of career section */
.career-container{
   width: 60%;
   margin: 0 auto;
   text-align: center;
   border-radius: 16px;
   background: rgba(13, 19, 33, 0.02);
   padding: 40px 97px 40px 97px;
}

.career-title{
   margin-bottom: 25px;
   color: rgb(13, 19, 33);
   font-size: 30px;
}

.career-description{
   margin-bottom: 50px;
   color: rgb(13, 19, 33);
   font-size: 14px;
}

.career-contents{
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 40px;
   background-color: white;
   padding: 20px;
   border-radius: 8px;
}

.career-content{
   width: 50%;
   text-align: left;
}

.career-content-heading{
   color: rgba(13, 19, 33, 0.7);
   font-size: 20px;
   font-weight: 700;
   line-height: 36px;
   letter-spacing: 0%;
   margin-bottom: 20px;
}

.career-content-description{
   color: rgb(13, 19, 33);
   font-size: 14px;
   font-weight: 400;
   line-height: 26px;
   letter-spacing: 0%; 
   margin-bottom: 20px;
}
/* Finish to style of career section */



/* start to design inspiration section */
.inspiration-container{
   width: 60%;
   text-align: center;
   margin: 0 auto;
}

.inspiration-title{
   margin-top: 50px;
   color: rgb(13, 19, 33);
   font-size: 30px;
   font-weight: 800;
   line-height: 37px;
   letter-spacing: 0%;
   text-align: center;
}

.inspiration-description{
   margin-top: 25px;
   margin-bottom: 30px;
   color: rgb(13, 19, 33);
   font-size: 14px;
   font-weight: 400;
   line-height: 26px;
   letter-spacing: 0%;
   text-align: center;
}

.inspiration-video{
   border-radius: 16px;
}

.inspiration-video iframe{
   border-radius: 10px;
   border: 1px solid rgba(13, 19, 33, 0.2);
   padding: 20px;
}
/* end to design inspiration section */



/* start to style of current target */
.current-target-container{
   width: 60%;
   margin: 0 auto;
   text-align: center;
   margin-top: 100px;
}

.current-target-title{
   margin-bottom: 20px;
   color: rgb(13, 19, 33);
   font-size: 30px;
   font-weight: 800;
   line-height: 37px;
   letter-spacing: 0%;
   text-align: center;
}

.current-target-description{
   margin-bottom: 50px;
}

.current-target-group{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   gap: 10px;
}

.first-current-target{
   border-radius: 10px;
   background: rgba(255, 76, 30, 0.05);
   padding: 25px;
   text-align: left;
}

.second-current-target{
   border-radius: 16px;
   background: rgba(0, 76, 232, 0.05);
   padding: 25px;
   text-align: left;
}

.third-current-target{
   border-radius: 16px;
   background: rgba(255, 223, 0, 0.05);
   padding: 25px;
   text-align: left;
}

.common-current-target{
   margin-bottom: 100px;
}

.common-current-target>img{
   margin-bottom: 15px;
}

.common-current-target>h1{
   margin-bottom: 15px;
   font-size: 18px;
}

.common-current-target>p{
   margin-bottom: 15px;
}

.common-current-target>a{
   color: black;
   font-weight: 700;
}
/* finish to style of current target */



/* Start to style of feedback section */
.feedback-container{
   background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('../assets/handshake.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   width: 60%;
   margin: 0 auto;
   text-align: center;
   border-radius: 5px;
   padding: 64px 48px;
}

.feedback-title{
   margin-bottom: 20px;
   color: rgb(255, 255, 255);
   font-size: 32px;
   font-weight: 700;
   line-height: 36px;
   letter-spacing: 0%;
   text-align: center;
   }

.feeback-description{
   margin-bottom: 20px;
   color: rgb(255, 255, 255);
   font-size: 14px;
   font-weight: 400;
   letter-spacing: 0%;
   text-align: center;
}

.feedback-container input{
   padding: 19px 20px 19px 20px;
   box-sizing: border-box;
   border: 1px solid rgba(13, 19, 33, 0.15);
   border-radius: 8px;
   background: rgb(255, 255, 255);
}
/* finish to style of feedback section */

